<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <%= link_to "Web Checker", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">      
    </ul>
  </div>

  <% if user_signed_in? %>
    <%= form_tag website_path, :method => 'POST' do %>
      <div class="form-inline my-2 my-lg-0">
          <%= text_field_tag 'website', nil, placeholder: "Enter website name...", class: "form-control mr-sm-2" %>
          <%= datetime_field_tag 'date',  class: "form-control mr-sm-2", max: DateTime.now  %> |
          <%= submit_tag 'Check', class: 'btn btn-outline-secondary form-control mr-sm-2' %>
      </div>
    <% end %>
    <%= button_to 'Log out', destroy_user_session_path, method: :delete, class:"btn btn-light" %> 
  <% end %>
  
</nav>
